header{
    background-color: var(--color-primary);
    padding: 1rem 2rem;
}

nav{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cerrar-sesion-link {
    margin-left: auto;
  }