header {
  background-color: blue;
  padding: 3px; /* Equivale a ~32px según el root font-size */
  font-size: 15px; /* Escalable */
  border-radius: 0 0 1rem 1rem; /* 70px */
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  color: black;
  padding: 1rem;
  width: auto
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cerrar-sesion,
.iniciar-sesion {
  margin-left: auto;
  color: white;
  text-decoration: none;
  font-weight: bold;
 
}

.cerrar-sesion:hover,
.iniciar-sesion:hover {
  color: #f1f1f1;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: clamp(40px, 5vw, 20px);
  height: clamp(40px, 5vw, 20px);
  margin-right: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(246, 246, 246);
  min-width: 8rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  z-index: 100;
  flex-direction: column;
  gap: 2rem;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-btn {
  cursor: pointer;
  font-weight: normal;
  font-size: 1rem;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .header {
    padding: 0.625rem; /* ~10px */
  }
}
